
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* heading */
#navbar {
    flex-direction: column;
    height: 120px;
}
#navbar ul {
    margin-top: 5px;
}
#logo{
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* home */
#home{
    margin-top: 150px;
}
#home h1{
    font-size: 2.5rem;
}
#home p{
    font-size: 1.3rem;
}

#home::before{
    background: url("img/food.jpg") no-repeat center center/cover
    ;
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: .7;
    content:" ";
}


/* service */
#service-section{
    flex-direction: column;

}
#services{
    margin-top: 200px;
}
#home{
    height: 50px;
}
.food{
    
    box-sizing: border-box;
    height: 300px;
    /* margin: 6px 50px; */
}




/* clients */


#client-section{
    flex-wrap: wrap;
}
#client-section img{
    height: 60px;
}

/* contact */

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
